<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body {
	text-align:center;
}

.button {
	background-color: #04AA6D;
	color:  white;
	padding: 14px 20px;
	margin 8px 0;
	border: none;
	cursor: pointer;
	width: 25%;
}

button:hover {
	opacity:0.8;
}
</style>
</head>

<body>

<h1>Welcome to Spotify Together</h1>
<br>
<h2> {{ user }} </h2>
<br>
An app that uses machine learning to combine users music taste
<br>
<br>
<a href="{% url 'analyze' %}" class="button"> Analyze </a>
<a href="{% url 'combine' %}" class="button"> Combine </a>
</body>
</html>